

<header class="header">
  <nav class="nav">
    <div class="container">
      <ul class="header__list">
        <li>
          <a routerLink="requests/add" class="button">Добавить запрос</a>
        </li>
        <li>
          <a routerLink="limits/add" class="button">Добавить позицию на складе</a>
        </li>
        <li>
          <a routerLink="requests" class="button">Просмотр всех заявок</a>
        </li>
        <li>
          <a routerLink="limits" class="button">Просмотр всех лимитов</a>
        </li>
        <li>
          <a routerLink="need-amount" class="button">Потребности</a>
        </li>
      </ul>
    </div>
    </nav>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>

  </div>
  
 

