@import "reset.scss";

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

$primary-color: #1890FF;

body {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nz-date-picker {
  display: flex;
}
